<h1>The Form</h1>

<%= form_with(url: "/users" , method: :post) do |form| %>

    <%= form.label :name, "User Name:" %>
    <%= form.text_field :name %>
    <br>
    <%= form.label :name, "Email:" %>
    <%= form.email_field :email  %>
    <br>
    <%= form.label :name, "Password:" %>
    <%= form.password_field :password%>
    <br>

    <%= form.submit "Submit" %>

<%end%>

<h3> the end </h3>

